html, body {
    color: #EEE;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    height: 100%;
}
a {
    color: #666;
    text-decoration: none;
    transition: all .218s;
}
a:hover {
    color: #999;
}
.page {
    display: flex;
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
}
.header {
    padding: 20px 0;
    height: 42px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.title {
    color: #000;
    font-weight: 400;
}
.footer {
    align-items: center;
    bottom: 0;
    color: #666;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    left: 0;
    padding: 20px 0;
    position: absolute;
    right: 0;
}
.footer p {
    margin: 0;
}
.socialIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 28.5px);
    left: calc(50% - 238px);
}
.socialIcon {
    font-size: 50px;
    color: #000;
    margin: 0 18px;
}
.socialIcon:hover {
    color: #555;
}
